@import "../../scss/vars";

.loader__inner-box {
 display: flex;
}

.main__inner-right {
 min-width: 620px;
 width: 50%;
}


.main__inner-logo {
 margin-bottom: 50px;
}

.main__right-articles {
 display: flex;
 justify-content: space-between;

}


.main__right-title {
 font-size: 24px;
 line-height: 30px;
 @include f800;
 color: $bg;
 margin-bottom: 10px;
}

.main__right-text {
 color: $grey;
 margin-bottom: 18px;
}

.main__right-data {
 display: flex;
 color: $text;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
}

.main__right-date {
 margin-right: 21px;
}

.main__right-views {
 span {
  margin-left: 5px;
 }
}


